* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.position {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    height: 40vh;
    overflow: hidden;
}

.containergrande {
    width: 40%;
    height: 40vh;
    position: relative;

}

.containerTunb {
    background-color: gray;
    width: 10%;
    height: 40vh;
    display: flex;
    flex-direction: column;

}

#up {
    position: absolute;
    top: 2%;
    right: 50%;
    transform: translate(+50%,0);

    z-index: 99;
}

#down {
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translate(+50%,0);
    z-index: 99;
}


#up span {
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 2rem;
    border-radius: 100%;

}

#down span {
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 2rem;
    border-radius: 100%;
}

.thumb {

    border: 1px solid red;
    width: 100%;
    flex-basis: 20%;
    overflow: hidden;
}

.imgBig {
    width: 100%;
}

.thumbsmall {
    width: 100%;
}

.bright {
    filter: brightness(0.4);
}
